{% extends 'background.html' %}
{% load static%}
{% block title %}Home{% endblock %}
{% block content %}
{% csrf_token %}
<div class="container-main-website">
  <div class="container-main-website-inner">
    <div class="container-main-website-cover">
      <div class="container-main-website-cover-inner">
        <div class="gradient"></div>
        <img src="{% static 'img/12-14-2022.bmp' %}" alt="image" style="width: 100%; height: 100%;">
        <div class="font-cover">
          <h1>This is an imageThis is an imageThis is an imageThis is an imageThis is an imageThis is an imageThis is an imageThis is an imageThis is an imageThis is an image</h1>
          <p>Ibrahim Waseem</p>         
        </div>

      </div>
    </div>
    <div class="Top-stories-main-section">
      <h1 style="padding-left: 10px;">Top Stories</h1>
      <div class="Top-stories-main-section-inner">
        <div class="Top-stories-main-section-inner-left">
          <div class="Top-stories-main-section-inner-left-inner">
            <img src="{% static 'img/12-14-2022.bmp' %}" alt="image" class="image">
            <div class="text">
              <h1>This is an image</h1>
              <p>Ibrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim Waseem</p>
            </div>
          </div>
          <div class="Top-stories-main-section-inner-left-inner">
            <div class="text">
              <h1>This is an image</h1>
              <p>Ibrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim Waseem</p>
            </div>
            <img src="{% static 'img/12-14-2022.bmp' %}" alt="image" class="image">
          </div>
          <div class="Top-stories-main-section-inner-left-inner">
            <img src="{% static 'img/12-14-2022.bmp' %}" alt="image" class="image">
            <div class="text">
              <h1>This is an image</h1>
              <p>Ibrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim Waseem</p>
            </div>
          </div>
          <div class="Top-stories-main-section-inner-left-inner">
            <div class="text">
              <h1>This is an image</h1>
              <p>Ibrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim Waseem</p>
            </div>
            <img src="{% static 'img/12-14-2022.bmp' %}" alt="image" class="image">
          </div>
        </div>
        <div class="Top-stories-main-section-inner-right">
          <div class="Top-stories-main-section-inner-right-inner">
            <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
            <div>
              <h1>This is an image</h1>
              <p>Ibrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim Waseem</p>
            </div>
          </div>
          <div class="Top-stories-main-section-inner-right-inner">
            <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
            <div>
              <h1>This is an image</h1>
              <p>Ibrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim Waseem</p>
            </div>
          </div>
          <div class="Top-stories-main-section-inner-right-inner">
            <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
            <div>
              <h1>This is an image</h1>
              <p>Ibrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim Waseem</p>
            </div>
          </div>
          <div class="Top-stories-main-section-inner-right-inner">
            <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
            <div>
              <h1>This is an image</h1>
              <p>Ibrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim Waseem</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="Top-stories-main-section">
      <div class="Top-stories-main-podcast-section">
        <div class="Tsmpsectioninner">
          <hr>
          <h1>PodCast</h1>
          <div class="Tsmpsectiontabs">
            <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
            <div>
              <h1>This is an image</h1>
              <p>Ibrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim Waseem</p>
            </div>

          </div>
          <div class="Tsmpsectiontabs">
            <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
            <div>
              <h1>This is an image</h1>
              <p>Ibrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim Waseem</p>
            </div>

          </div>
        </div>
        <div class="Tsmpsectioninner">
          <hr>
          <h1>Voices</h1>
          <div class="Tsmpsectiontabs">
            <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
            <div>
              <h1>This is an image</h1>
              <p>Ibrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim Waseem</p>
            </div>

          </div>
          <div class="Tsmpsectiontabs">
            <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
            <div>
              <h1>This is an image</h1>
              <p>Ibrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim WaseemIbrahim Waseem</p>
            </div>

          </div>
        </div>


      </div>
      <div class="Newspad">
        <hr>
        <h1 style="padding-left: 10px;">Sport</h1>
        <div class="Top-stories-main-section-inner">
          <div class="Top-stories-main-section-inner-left">
            <div class="Top-stories-main-section-inner-left-inner">
              <hr>
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image" class="image">
              <div class="text">
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
          </div>
          <div class="Top-stories-main-section-inner-right">
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="Newspad">
        <hr>
        <h1 style="padding-left: 10px;">Business</h1>
        <div class="Top-stories-main-section-inner">
          <div class="Top-stories-main-section-inner-left">
            <div class="Top-stories-main-section-inner-left-inner">
              <hr>
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image" class="image">
              <div class="text">
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
          </div>
          <div class="Top-stories-main-section-inner-right">
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="Newspad">
        <hr>
        <h1 style="padding-left: 10px;">Innovation</h1>
        <div class="Top-stories-main-section-inner">
          <div class="Top-stories-main-section-inner-left">
            <div class="Top-stories-main-section-inner-left-inner">
              <hr>
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image" class="image">
              <div class="text">
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
          </div>
          <div class="Top-stories-main-section-inner-right">
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="Newspad">
        <hr>
        <h1 style="padding-left: 10px;">Culture</h1>
        <div class="Top-stories-main-section-inner">
          <div class="Top-stories-main-section-inner-left">
            <div class="Top-stories-main-section-inner-left-inner">
              <hr>
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image" class="image">
              <div class="text">
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
          </div>
          <div class="Top-stories-main-section-inner-right">
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="Newspad">
        <hr>
        <h1 style="padding-left: 10px;">Arts</h1>
        <div class="Top-stories-main-section-inner">
          <div class="Top-stories-main-section-inner-left">
            <div class="Top-stories-main-section-inner-left-inner">
              <hr>
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image" class="image">
              <div class="text">
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
          </div>
          <div class="Top-stories-main-section-inner-right">
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="Newspad">
        <hr>
        <h1 style="padding-left: 10px;">Travel</h1>
        <div class="Top-stories-main-section-inner">
          <div class="Top-stories-main-section-inner-left">
            <div class="Top-stories-main-section-inner-left-inner">
              <hr>
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image" class="image">
              <div class="text">
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
          </div>
          <div class="Top-stories-main-section-inner-right">
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="Newspad">
        <hr>
        <h1 style="padding-left: 10px;">Earth</h1>
        <div class="Top-stories-main-section-inner">
          <div class="Top-stories-main-section-inner-left">
            <div class="Top-stories-main-section-inner-left-inner">
              <hr>
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image" class="image">
              <div class="text">
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
          </div>
          <div class="Top-stories-main-section-inner-right">
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
            <hr>
            <div class="Top-stories-main-section-inner-right-inner">
              <img src="{% static 'img/12-14-2022.bmp' %}" alt="image">
              <div>
                <h1>This is the heading of the news page. lets check if this title fits inside this box and responsive well</h1>
                <p>Ibrahim Waseem</p>
              </div>
            </div>
          </div>
  
        </div>
      </div>

    </div>

    <a href="{% url 'news' %}">Go to news Page</a>
  </div>
</div>

{% endblock content %}